.password-input {
  &__toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}